/* this is work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato&family=Noto+Sans:wght@400;600&family=Open+Sans&family=Poppins&family=Roboto&family=Work+Sans:ital,wght@0,400;0,600;1,700;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
/* this is head style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 60px 240px;
}
/* header >h3{
    color:#131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #131313;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
}
nav a{
    text-decoration: none;
    color:#424242;
}
.banner-title{
font-size: 2.9rem;
}
.banner-description{
    font-size: 1rem;
    /* width: 50%; */
    font-weight: 400;
    line-height: 26px;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    padding:21px 24px 20px 25px ;
    cursor:pointer ;
    font-weight: 600;
    font-size: 1.3rem;
    margin:20px 0px  40px 0px;
}
.banner-img{
    width: 100%;
}

/* apply media queries */
@media screen and (max-width: 576px){
    header{
        padding: 1px 1px;
    }
    nav{
        flex-direction: column;
        
    }
    nav li{
        padding-bottom: 20px;
    }
}

/* for medium devices */
@media screen  and (min-width:577px) and (max-width:960px){
    header{
        padding:0px;
    }
    nav{
        flex-direction: column;
    }
}