/* this is work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato&family=Noto+Sans:wght@400;600&family=Open+Sans&family=Poppins&family=Roboto&family=Work+Sans:ital,wght@0,400;0,600;1,700;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
/* this is head style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 60px 240px;
}
/* header >h3{
    color:#131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #131313;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
}
nav a{
    text-decoration: none;
    color:#424242;
}
.banner-title{
font-size: 2.9rem;
}
.banner-description{
    font-size: 1rem;
    /* width: 50%; */
    font-weight: 400;
    line-height: 26px;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    padding:21px 24px 20px 25px ;
    cursor:pointer ;
    font-weight: 600;
    font-size: 1.3rem;
    margin:20px 0px  40px 0px;
}
.banner-img{
    width: 100%;
}

/* main section style */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.features-container{
    display: flex;
    align-items: center;
}
.feature-image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    width: 121%;
}
.middle-img{
    gap: 3rem;
    width: 100%;
    height: 100%;
}
.feature-text-section{
    padding-left: 60px;
    padding-right: 60px;
}
.features-description{
    color:#727272;
    line-height: 26px;
}
.f-title-one{
    color: #727272;
    font-size: 45px;
    font-weight: 700;
}
.f-title-two{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.f-title-three{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.fact-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.fact-description{
    color:#727272;
    line-height: 26px;
}
.some-facts-item{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.some-facts-item .facts{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
    margin-top:10px ;
    margin-bottom: 10px;
}
.facts-stats{
    color:#424242;
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}
.facts-description{
    color:#727272;
    font-size: 20px;
    font-weight: 600;
}
.sponsors{
    text-align: center;
}
.sponsors-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.sponsors-description{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.sponsors-image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 130px;
}
.footer-title{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 20px;
    margin-bottom: 100px;
    font-size: 17px;
    color:#424242;
}
.team-container{
    display: flex;
    margin-top: 75px;
    gap: 120px;
    align-items: center;
}
.team-name-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.team-description{
    color:#727272;
    font-size: 16px;
    line-height: 26px;
}
.card-description{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.card{
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: inset -1px 3px 8px 5px #f6f7fc, 2px 5px 16px 0px #fafafa, inset -15px -16px 0px -30px rgba(240,255,248,0);
}
.team-images-for-style{
    width: 100%;
}
.team-image{
    width: 100%;
}
/* apply media queries */
/* @media screen and (max-width:392px) {
    header{
        padding: 1px 1px;
    }
    nav >ul{
        flex-direction: column;
    }
} */

@media screen and (max-width: 576px){
    header{
        padding: 1px 1px;
    }
    nav,
    .features-container,
    .some-facts-item,
    .sponsors-image-container{
        flex-direction: column;
    }
    .sponsors-image-container img{
        padding-bottom: 10%;
    }
    .sponsors-image-container{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    nav li{
        padding-bottom: 20px;
    }
    .feature-image-section{
        grid-template-columns: 1fr;
    }
    .feature-text-section{
        padding-left: 109px;
        padding-right: 109px;
    }
    .footer-title{
        margin-bottom:2% ;
    }
    .team-container{
        flex-direction: column;
    }
}

/* for medium devices */
@media screen  and (min-width:577px) and (max-width:960px){
    header{
        padding:0px;
    }
    nav,
    .features-container{
        flex-direction: column;
        justify-content: center;
    }
    .feature-text-section{
        margin-top: 30px;
        text-align: center;
    }
    .sponsors-image-container{
        flex-direction: column;
        margin-bottom: 2%;
    }
    .sponsors-image-container img{
        padding-bottom: 4rem;
    }
    .footer-title{
        margin-bottom:2% ;
    }
    .team-container{
        flex-direction: column;
        text-align: center;
    }
}